<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">
              <button class="btn btn-dark">Back</button>
            </a>
          </li>
        </ul>
        <div class="col-9" align='center'>
            <h3>Quiz</h3>
          </div>
      </div>
    </nav>
    <hr>
  <div>
    <form #userForm="ngForm" *ngIf='questionArray' >
      <div>
        <div class="col-12 row mt-3" >
          <input disabled class=col-12 type="text" placeholder="{{questionArray[i].question}}">
        </div>
        <hr>
       
        <div class="radio col-12" *ngFor='let optn of questionArray[i].options; let j = index'>
          <label><input required type="radio" name="ans" value="{{questionArray[i].options[j]}}" [(ngModel)]="ans" >
              {{questionArray[i].options[j]}}
          </label>
          <hr>
        </div>
        <div class="form-group">
          <button [disabled]="!userForm.valid" (click)="i=i+1;onSubmit(userForm.value,i-1)" class="btn btn-success mt-3">Next</button>
        </div>
        <hr>
      </div>
    </form> 
  </div>
</div>