<div class="container">
    <div class="row col-12 mt-3">
        <h5>{{data.question}}</h5>
    </div>
    <hr>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
        <div class="radio col-12" *ngFor='let in of data.options;let i = index'>
            <label><input required type="radio" name="ans" value="{{data.options[i]}}" [(ngModel)]="ans" >
                {{data.options[i]}}
            </label>
        </div>

        <div class="form-group col-12">
            <button [disabled]="!userForm.valid" type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>