<div class="container"> 
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div>
                        <a class="nav-link" routerLink="/">
                            <button class="btn btn-dark">Back</button>
                        </a>
                      </div>
                </li>
              </ul>
              <div class="col-9" align='center'>
                <h3>Quiz Setting</h3>
              </div>
        </div>
    </nav>
    <form [formGroup] = "userForm">
        <div class="form-group">
            <label class=mt-3>Question</label>
            <input type="text" class="form-control" formControlName="question" placeholder="Enter the Question">
            <div *ngIf="userForm.controls['question'].hasError('required') && userForm.controls['question'].touched" class="alert alert-danger">
                Please enter a question.
            </div>

        </div>
        <div formArrayName="options" class="row">
            <div class="col-12 form-group" *ngFor="let optn of optionArray.controls;let i=index;">
                <label>Option{{i+1}}</label>
                <input required type="text" class="form-control"  [formControlName]="i" placeholder="Enter the option.">
                <div *ngIf="userForm.controls['options'].hasError('required') && userForm.controls['options'].touched" class="alert alert-danger">
                    Please enter a question.
                </div>
                <button class="btn btn-danger mt-3" *ngIf="optionArray.controls.length>2;" (click)="deleteOptions(i)">Delete Option</button>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-light" *ngIf="optionArray.controls.length<5" (click)="addOptions()">Add More Options</button>
        </div>

        <div class="form-group">
            <button [disabled]="!userForm.valid" class="btn btn-primary" (click)="chooseAnswer()">Choose Answer</button>
        </div>


        
    </form> 

</div>

