<div class="container"> 
  <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                <div class="row">
                  <div>
                      <a class="nav-link" routerLink="/question">
                          <button class="btn btn-dark">Add Question</button>
                      </a>
                  </div>

                  <div>
                    <a class="nav-link" routerLink="/quiz">
                        <button class="btn btn-dark">Start Quiz</button>
                    </a>
                  </div>
                </div>
              </li>
            </ul>
      </div>
  </nav>
  <hr>
  <div align="center">
    <img src="../../assets/images/quiz1.png" class="img-fluid" alt="Responsive image">
  </div>
</div>